
/* リフレッシュボタン　*/
.refreshCust:hover {
    text-decoration: none;
}

.with-shadow {
    text-shadow: 2px 2px 4px #0056b3;
    /* 水平シフト、垂直シフト、ブラー、カラー */
}

.custom-textarea {
    width: 499px; /* 親要素の全幅を占める */
}


/* セパレーター */
.between-us {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

/* ページネーションボタンの一般的なスタイル */
.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
}

.pagination li {
    display: inline;
}

.pagination li a,
.pagination li span {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
    text-decoration: none;
    font-weight:bolder;
}

.pagination li a:hover {
    color: #0056b3;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.pagination li.active span {
    z-index: 1;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.pagination li.disabled span {
    color: #6c757d;
    pointer-events: none;
    background-color: #fff;
    border-color: #dee2e6;
}

/* 矢印を取り除く */
.page-item:first-child .page-link::before,
.page-item:last-child .page-link::after {
    display: none;
}

/* ボタンのテキストラベル */
.page-item:first-child .page-link {
    content: '前に';
}

.page-item:last-child .page-link {
    content: '次に';
}

